
html, body{

    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

.Container{
padding: 5rem;
height: 80vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
overflow: hidden;

}


body{
    background-image: url('image/leone-venter-VieM9BdZKFo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: env(safe-area-inset-top) env(safe-area-inset-bottom) env(safe-area-inset-left) env(safe-area-inset-right);
}


.main-title{
       
    font-size: 45px;
    text-align: center;
}

.sub-title{

    align-content: center;
    color: rgba(0,0,0,50%);
    
}

#sub{

    font-size: 15px;
    text-align: center;
}



.result-container{

    display: flex;
    gap: 20px;
    font-size: 25px;
    text-align: center;
    font-family: 'Lucida Console', monospace;
    align-items: baseline;
    
   
}

.sentence-container{
    display: flex;
    justify-content: center;
    justify-items: auto;
    align-items: baseline;
    gap: 30px;
    
}

#button{
    background-color: maroon;
    color: antiquewhite;
    font-size: 15px;
}

.new-text{

    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.ip{
    
    margin-top: 50px;
    justify-self: center;
    height: 100vh;

}

.TextBox{

    width: 200px;
    height: 40px;
    position: relative;
    font-size: 20px;
            
}



.shake{

  color: rgb(193, 4, 67);
  animation: shake 0.3s ease-in-out;
  border: 10px;
  border-color:  rgb(193, 4, 67);

}

.highlight{

    background-color: gold;
    font-weight: bold;
    padding: 2px;
}


@keyframes shake{

    0%{ transform: translateX(0);}
    25%{ transform: translateX(-10px);}
    50%{ transform: translateX(10px);}
    75%{ transform : translateX(-10px);}
    100%{transform : translateX(0);}

}

@media(max-width:767px){
    
    body{
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .main-title{
        font-size: 32px;
    }

    .sub-title{
        font-size: 8px;
    }

    #button{
        font-size: 14px;
        width: 80px;
    }

    .new-text{
        font-size: 26px;
    }

    #CongratsMsg{
        font-size: 20px; ;
    }

    #TimeInfo{
        font-size: 20px;
    }

    .ip{
        margin-top: 10px;
    }

  
}